<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.seg2105_term_project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SEG2105TermProject">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AdminPage"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.ADMIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InstructorPage"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.INSTRUCTOR" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StudentPage"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.STUDENT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DeleteAccount"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.DELETEACCOUNT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateCourse"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.CREATECOURSE" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EditCourse"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.EDITCOURSE" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DeleteCourse"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.DELETECOURSE" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterUser"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.REGISTERUSER" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>